<h1>Contact</h1>
<form>
	<input type="text" id="contact-name" name="name" />
	<input type="text" id="contact-email" name="email" />
	
	<input type="submit" value="Send" />

	<input type="hidden" name="referrer" />
</form>
{{!--
{{#section 'jQuery'}}
	<script type="text/javascript">
		$(document).ready(function(){
			$('input [name="referrer"]').val(document.referrer);
		});
	</script>
{{/section}}--}}